// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
   margin: 20px auto;
   padding: 20px;

  .box {
	  margin: 10px;
	  width: 250px;
	  height: auto;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 17px;

	  h2 {
	  	font-size: 9px;
	  	margin: 0;
	  	padding: 2px 2px;
	  	a {
			color: #474747;
	  	}
	  	text-align: center;
	  }
	  .user {
	  	font-size: 7px;
		padding: 1px;
		margin: 0;
		text-align: center;
	  }
	  .blurb {
	    text-align: left;
	    font-size: 11px;
	  	border-top: 1px solid #AAAAAA;
		margin: 0;
		padding: 15px;
		overflow:hidden;
		padding: 5px;
		a:link {
		  text-decoration:none;
		  color: #f7f7f7;
		  font-size: 13px;
		}
	  }
	  
	}
	img {
		margin-top: 20px;
		margin-left: 10px;
		margin-right: 10px;
	  	width: 90%;
		height: auto;
		border-radius: 5px;
	}
}

